server {
    listen {{ PORT }};
    root {{ ROOTDIR }};
    index index.php index.html index.htm;

    # Make site accessible from http://localhost/
    server_name _;

    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        root {{ ROOTDIR }};
    }

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php7.2-fpm.sock;
    }
}

